<html>
    <head>

    </head>
    <body>
        <div id="carProfile">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input v-model="name" type="text"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input v-model="address" type="text"></td>
                        
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea  rows="5" cols="22" name="description"  v-model="description" style="overflow:scroll;"></textarea></td>
                </tr>
                <tr>
                    <td><Button v-on:click="update">Update</Button></td>
                </tr>
            </table>
        </div>
    </body>
    <script src="axios.js"></script>
    <script src = "vue.js"></script>
    <script src="carServiceProfile.js"></script>
</html>