<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title> FlightCompany</title>
        <link rel="stylesheet" href="bootstrap.min.css">
 
    </head>
    <body>
        <h1> FlightCompany Profile:</h1>
        <br>
        <div id = "flightComanyProfile">
      
        <form>
            <table>
                <tr>
                    <td> Name: </td>
                    <td>  <input type="text" name="name" v-model="name" > </td>
                </tr>
                <tr>
                    <td> Address: </td>
                    <td>  <input type="text" name="address" v-model="address" > </td>
                </tr>
                <tr>
                    <td> Description: </td>
                    <td> <textarea  rows="5" cols="22" name="description"  v-model="description" style="overflow:scroll;"></textarea> </td>        
                </tr>
                <tr>
                    <td> &nbsp </td>
                    <td><button v-on:click="updateFlightCompanyProfile(name,address,description)">Edit</button> </td>      
                </tr>
               
              
            </table>
        </form>
        
         
         
        </div>
        
        <script src="vue.js"></script>
		<script src="axios.js"></script>
		<script src="flightCompany.js"></script>
    </body>
</html>