<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Hotel Profile</title>
</head>
<body>
	<h1>Hotel Profile</h1>
	<div id="hotelProfile">
		<table>
			<tr>
				<td>Name</td>
				<td><input v-model="name" type="text"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td><input v-model="address" type="text"></td>

			</tr>
			<tr>
				<td>Description</td>
				<td><textarea rows="5" cols="22" name="description"
						v-model="description" style="overflow: scroll;"></textarea></td>
			</tr>
			<tr>
				<td><Button v-on:click="load">Load</Button></td>
			</tr>
			<tr>
				<td><Button v-on:click="update">Update</Button></td>
			</tr>
			<tr>
				<td><Button v-on:click="add">Add</Button></td>
			</tr>
			<tr>
				<td><Button v-on:click="remove">Remove</Button></td>
			</tr>
		</table>
	</div>
	<script src="axios.js"></script>
	<script src="vue.js"></script>
	<script src="hotelProfile.js"></script>
</body>
</html>