<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Hotel Admin Profile</title>
</head>
<body>
	<h1>Hotel Profile</h1>
	<div id="hotelAdminProfile">
		<table>
			<tr>
				<td>Username</td>
				<td><input v-model="username" type="text"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input v-model="password" type="text"></td>

			</tr>
			<tr>
				<td>Firstname</td>
				<td><input v-model="firstName" type="text"></td>
			</tr>
			<tr>
				<td>Lastname</td>
				<td><input v-model="lastName" type="text"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input v-model="email" type="text"></td>
			</tr>
			<tr>
				<td><Button v-on:click="load">Load</Button></td>
			</tr>
			<tr>
				<td><Button v-on:click="update">Update</Button></td>
			</tr>
			<tr>
				<td><Button v-on:click="add">Add</Button></td>
			</tr>
			<tr>
				<td><Button v-on:click="remove">Remove</Button></td>
			</tr>
		</table>
	</div>
	<script src="axios.js"></script>
	<script src="vue.js"></script>
	<script src="hotelAdminProfile.js"></script>
</body>
</html>