<html>
    <head>
        <link rel="stylesheet" href="bootstrap.min.css">
    </head>
    <body>
        <div id="vehicleSearch">
            <div>
                <table>
                    <tr>
                        <td>Producer</td>
                        <td><select v-model="producer" name="Producer" id="producer" name="Producer">
                                <option v-for="producer in producers" v-bind:value=producer>{{producer}}</option>
                            </select></td>
                        <td>Type</td>
                        <td><select v-model="type" name="Type" id="type" name="Type">
                                <option v-for="type in types" v-bind:value=type>{{type}}</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>Newer than</td>
                        <td><input v-model="newer" type="number" id="newer"></td>
                        <td>Older than</td>
                        <td><input v-model="older" type="number" id="older"></td>
                    </tr>
                    <tr>
                        <td>Price from</td>
                        <td><input v-model="priceFrom" type="number" id="priceFrom"></td>
                        <td>Price to</td>
                        <td><input v-model="priceTo" type="number" id="priceTo"></td>
                        <td><Button v-on:click="pretraga">Search</Button></td>
                    </tr>
                </table>
            </div>
            <div>
                <table >
                    <tr v-for="car in cars">  
                        <td>{{car.name}}</td>
                        <td>{{car.maker}}</td>
                        <td>{{car.year}}</td>
                        <td>{{car.price}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
    <script src="axios.js"></script>
    <script src = "vue.js"></script>
    <script src="vehicleSearch.js"></script>
</html>